.details {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 2px;

    background-color: black;

    position: absolute;
    top: 0;
    left: 0;
  }
}
