.planner {
  min-height: 100px;
  max-height: 250px;
  padding: 0 4px;

  box-shadow: 0 0 4px #c4c4c4;
  border-radius: 4px;

  display: grid;
  gap: 10px;
  grid-template-columns: 500px calc(100% - 510px);

  overflow: auto;
}

.gantt {
  > div {
    box-sizing: border-box;
    border: 1px solid black;
  }

  svg {
    display: block;
  }
}
