.app {
  margin: 0 auto;
  min-height: 100vh;
  min-width: min-content;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  box-shadow: 0 0 20px -2px lightgrey;

  main {
    flex: 1;
  }
}
